@{
    ViewBag.Title = "Access Denied";
}
<div class="alert alert-danger mt-2">
    <h1>
        @ViewBag.Title
    </h1>
    <hr />
    <h5>
       you do not have permission to see this resoure
    </h5>
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning" style="width:auto">
    Click here to navigate home
</a>