@{
    ViewBag.Title = "Hotel Event";
}

<div class="container-3">
        <div class="cards">
            <h3> Shillamogram</h3>
        </div>
</div>

<div class="container">
    <img src="~/images/event1.jpeg" style="width:100%" />
    <p class="texts mt-2 mb-2">
        For the 27th year in a row, Winter Party Festival will take over Miami Beach to help raise money for the LGBTQ community.
        Way back in 1994, Winter Party Festival started out as a one-day mega dance party on Miami Beach, the first ever actually held on the beach. Now, the festival is nearly a full week and has grown into one of the hottest LGBTQ themed parties on the planet.
        It has evolved into an event that celebrates the true spirit of "chosen family" among the global LGBTQ community.
        These days, Winter Party Festival is a massive party with an impressive lineup of internationally acclaimed DJs, which has raised millions of dollars for great causes.
    </p>
    <img src="~/images/event2.jpeg" style="width:100%" />
    <p class="texts mt-2 mb-2">
        According to Winter Party Festival organizers The National LGBTQ Taskforce, “For the LGBTQ community and our allies, Winter Party is a place to rejuvenate and recharge. A place to clear our heads, fill our hearts, and engage our minds.
        A place to let loose and kick up our heels. We live in a world that challenges us every day; telling us we’re different, less than, other. And while that may be changing, progress is slow, and inequality persists. It can wear on even the strongest among us.
        It makes us long for safe havens, places where we can be ourselves, surrounded by our chosen family and accepted and loved just the way we are.
        Winter Party is that place, a safe haven where we can LIVE FREE.”
    </p>
    <img src="~/images/event3.jpeg" style="width:100%" />
    <p class="texts mt-2 mb-2">
        On Friday, March 6, 2020, the party moves to Wynwood Factory where Hilton Wolman Events presents Heat. DJs J Warren, Joe Pacheco, and Edu Quintas will spin starting at 10 p.m. till 5 a.m. 
        Tickets start at $85 for general admission or $130 for VIP which includes a separate entrance as well as open bar till 2 a.m.
    </p>
    <a href="#" class="btn btn-info">Back To Home</a>
</div>