@{
    ViewBag.Title = "Hotel All Romantics";
}

<div class="container-3">
    <div class="cards">
         <h3> Shillamogram</h3>
     </div>
</div>
<div class="container">
    <img src="~/images/view1.jpeg" style="width:100%" />
    <p class="texts mt-2 mb-2">
        Shilla is a beautiful rooftop cafe rooftop, with an overhead view overlooking Vincom Ba Trieu,
        the view reaches the intersection of Ho Tung Mau, a cool and quiet Church view for young people to check in.
        Not only a cafe serving drinks such as Tea, Coffee, Juice, Yogurt, but also eye-catching detox drinks, the taste is also great!
    </p>
    <img src="~/images/view2.jpg" style="width:100%" />
    <p class="texts mt-2 mb-2">
        From the swimming pool, you can freely relax, enjoy a panoramic view of the beautiful city. Marina Bay Sand also offers a system of modern, comfortable rooms with elegant, luxurious and eye-catching design.
        This is one of the ideal resorts in Singapore that you should choose.
    </p>
    <img src="~/images/view3.jpg" style="width:100%" />
    <p class="texts mt-2 mb-2">
        An outdoor swimming pool system on the 16th floor, equipped with a mini bar, and diverse culinary services. Although it is a luxury hotel, it has a quite affordable price, suitable for all types of tourists. However, you should contact to book a room in advance to get the best accommodation and the most reasonable price.
    </p>
</div>