@{
    ViewBag.Title = "Hotel Wedding";
}

<div class="container-3">
    <div class="cards">
       <h3>Shillamogram</h3>
    </div>
</div>
<div class="container">
    <img src="~/images/wedding1.jpeg" style="width:100%" />
    <p class="texts mt-2 mb-2">
        Starting as an event organization company with many years of experience in the field of weddings,
        Dora Wedding & Events always provides customers smart, economical and convenient service packages,
        a solution for all. The bride and groom prepare for their big day. Besides, Dora Wedding & Events is increasingly expanding and developing diversely in all different events such as birthdays, anniversaries, opening parties ... still following the criteria of returning the best services for for customers.
    </p>
    <img src="~/images/wedding2.jpeg" style="width:100%" />
    <p class="texts mt-2 mb-2">
        Dora Wedding & Events, with the strength of experience of a team full of competence, professional style, serious working spirit.
        Young human resources have constant creativity and multi-styled artistic taste. An in-depth investment in a creative staff as well as a system of professional equipment. We give customers not only job satisfaction but also trust and long-term cooperation.
        Class and difference only at Dora Wedding & Events you will have a dream wedding, bring your own style because you deserve it.
    </p>
    <img src="~/images/wedding3.jpeg" style="width:100%" />
    <p class="texts mt-2 mb-2">

        We do not pursue the epitome of a leading event organizer, we focus on producing ideas and services that the top event planners don't have. We are proud to be accompanied by growth and to record memorable marks in your success.
    </p>
    <a href="#" class="btn btn-info">Back To Home</a>
</div>